
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
<div class="card px-3 mx-auto" style="width: 18rem;" >
  <form  [formGroup]="loginForm" (submit)="doLogin()">
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
    
      <input type="email"  #userNameInput class="form-control"  formControlName="username" name="username" autofocus aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" *ngIf="loginForm.get('username').errors?.required"class="form-text text-danger">Username is required.</small>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="password"  #usePasswordInput  class="form-control"  formControlName="password" name="password" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-danger" *ngIf="loginForm.get('password').errors?.required">Password is required.</small>
    </div>
    
    
    <button type="submit"[disabled]="loginForm.invalid"   class="btn btn-primary">Submit</button>
  </form>
  
</div>
