.repos{
    padding-top: 4rem;
}
.language{
    border-radius: 50%;
    padding: 20px; 
    width: 22px;
    height: 22px; 
    background: #c1c5ca;
}

.btn-link{
    color: #fff!important;
}


.typeScript{
    background: #27738a;
}

.javascript{
    background: #f2e14e;
}

.java{
    background: #b17300;
}
.c{
    background: #0a8700;
}
.swift{
    background: #ffad37;
}
.objectiveC{
    background: #428dff;
}

.kotlin{
    background: #f38e21;
}
.shell{
    background:#86e246;
}

.other{
    background: #302e2e;
}